body{
    padding-top: 51px;
}
.containerCustom{
    margin-top: 25px;
}
.page-header-custom{
    margin-top: 0;
}
/*---------------------Menu---------------------*/
.displayNameGroup{
    margin-top: 8px;
}
.displayNameGroup>a{
    color: white !important;
}
.selected{
    background-color: #d6e9c6;
}
/*---------------------Slider---------------------*/
.slider{
    margin-top: 25px;
    margin-bottom: 25px;
}
.slider .carousel{
    max-width: 929px;
    margin: auto;
}
/*---------------------Manager--------------------*/
.imgListBook{

}
/*---------------------Index----------------------*/
.listBook{
    margin-bottom: 30px;
    text-align: center;
}
.listBook img{
    width: 100%;
}
.listBook .author {
    font-size: 12px;
    color: gray;
}
.listBook .price {
    font-weight: 600;
}
.listBook .popoverHidden{
    /*display: none;*/
}
.listBook .linkDetail{
    color: black;
    text-decoration: none;
}