<% layout('layout') -%>
<div class="container containerCustom">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-3">
            <% include ./menu %>
        </div>
        <div class="col-md-9">
            <h2 class="page-header page-header-custom">Quản lý thể loại sách</h2>

            <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#myModal">
                Thêm loại mới
            </button>

            <!-- Modal -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">Thêm thể loại sách mới</h4>
                        </div>
                        <!--<form method="post" action="/manager/addCategory">-->
                            <div class="modal-body">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Tên thể loại</label>
                                    <input type="text" class="form-control" id="nameCategory" placeholder="Thể loại">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Mô tả cụ thể</label>
                                    <input type="text" class="form-control" id="descriptionCategory" placeholder="Nội dung">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                                <button type="button" class="btn btn-primary addCategoryBtn">Lưu mới</button>
                            </div>
                        <!--</form>-->
                    </div>
                </div>
            </div>

            <br>
            <br>
            <% if(listCategory && listCategory.length){%>
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Thể loại</th>
                        <th>Mô tả</th>
                        <th>Chỉnh sửa gần nhất</th>
                    </tr>
                    </thead>
                    <tbody>
                    <% for(var i = 0; i < listCategory.length; i++){%>
                        <tr>
                            <th scope="row"><%= i %></th>
                            <td><%= listCategory[i].name %></td>
                            <td><%= listCategory[i].description %></td>
                            <td><%= listCategory[i].lastedUpdate %></td>
                        </tr>
                    <%}%>
                    </tbody>
                </table>
            <% }else{ %>
                <div class="noCategory">Chưa có thể loại sách nào cả</div>
            <% } %>
        </div>
    </div>

    <hr>

</div>
<script>
    $(function(){
        $('.addCategoryBtn').click(function(){
            $.ajax({
                method: 'post',
                url: '/manager/addNewCategory',
                data: {
                    name:
                }
            })
        });
    });
</script>